body {
  font-size: 14px;
  margin: 0;
  font-family: "Raleway";
  -webkit-font-smoothing: antialiased;
}

section {
  background-image: url("http://1920x1080hdwallpapers.com/image/201512/city/3654/fuji-landscape-japan-maple.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
  padding: 1rem;
}

section::after {
  display: block;
  content: '';
  background: rgba(59, 35, 96, 0.75);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@media (min-width: 768px) {
  section {
    padding: 3rem 0;
  }
}

.grid-container {
  position: relative;
  z-index: 100;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  border-top: 2px solid rgba(255, 255, 255, 0.5);
}

@media (min-width: 768px) {
  .grid-container {
    border-top: 0;
    grid-template-columns: repeat(3, 1fr);
  }

}

figure {
  box-sizing: border-box;
  color: white;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1rem;
  display: block;
  margin: 1rem 0;
  position: relative;
  border-right: 2px solid rgba(255, 255, 255, 0.5);
}

figure strong {
  display: block;
  color: #ffc222;
  font-weight: 300;
  font-size: 36px;
}

figure:nth-of-type(3n) {
  border-right: 0;
}

figure::after {
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  content: '';
  display: block;
  position: absolute;
  bottom: -1rem;
  left: 0;
  right: 0;
  width: 100%;
}

figure:last-child {
  grid-column: auto / span 3;
  border-right: 0;
}

@media (max-width: 414px) {

  figure {
    box-sizing: border-box;
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1rem;
    display: block;
    margin: 1rem 0;
    position: relative;
    border-right: 0;
    grid-column: auto / span 3;
  }

  figure strong {
    display: block;
    color: #ffc222;
    font-weight: 300;
    font-size: 30px;
  }

}